footer {
    background-color: lightblue;
    color: white;
}

body {
    background-color: brown;
}

h1 img {
    height: 30px;
    width: 30px;
}

a {
    color: white;
    text-decoration: none;
}

footer img {
    height:300px;
    width:600px;
   } 

.Pyro { 
    height:275px;
    width:450px;
 }
  
 .Scout {
    height:250px;
    width:200px;
  }
